joe.(class)=Person
joe.(singleton)=false
joe.(parent)=dad
joe.address=(ref)ucla
joe.person_id=65
joe.slac_id=194310
joe.safetyTalk=N
joe.first_name=Joe
#joe.last_name=Cole
joe.middle_name=Michael
joe.email_address=joe@noemail.com
joe.citizenship=US
joe.safetyAgreementDate=09/01/2002

dad.last_name=johnson
sue.(parent)=joe
sue.last_name=Peterson

ucla.(class)=Address
ucla.(singleton)=false
ucla.address1=University of California = Los Angeles
ucla.address2=405 Hilgard Ave
ucla.city=Los Angeles
ucla.state=CA
ucla.zipcode=90095


team.(class)=Team
#add extra spaces between objects
team.people(list)=(ref)joe (ref)sue   (ref)joe


badteam.(class)=Team
#add extra spaces between objects
badteam.people(list)=(ref)joe (ref)sue (ref)ucla

#factory bean tests
hondaFactory.(class)=DI::BeanFactory
hondaFactory.bean=honda

honda.(class)=Car
honda.(singleton)=false
honda.make=civic
honda.year=2013



